<%= flash[:notice] %>
<h1>Books</h1>
<table class="table">
  <thead>
    <tr>
      <th class="header1">Title</th>
      <th class="header2">Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% @books.each do |book| %>
        <span><%= book.title %></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <% @books.each do |book| %>
        <span><%= book.body %></span>
        <% end %>
      </td>
    <tr>
      <td>
        <% @books.each do |book| %>

        <%= link_to "Show" , show_path(book.id) %>
        <%= link_to "Edit" , edit_path(book.id) %>
        <%= link_to "Destroy",destroy_book_path(book.id),method: :delete,"data-confirm" => "Are you sure?" %>

      　<% end %>

      </td>
    </tr>
  </tbody>
</table>

<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <h3>New book</h3>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>